.juntagrico-logo {
    background: url('/static/gemuesegartenkosmoos/img/Logo quadratisch.jpg') center center;
    background-size: contain;
    display: inline-block;
    width: 580px;
    height: 161px;
}
